<% provide(:title, @user.name) %>

<%= render "users/user_attendance" %>

<div class="center">
  <%= link_to "戻る", 'javascript:history.back()', class: "btn btn-lg btn-block btn-primary" %><br>
</div>
